* {
  margin: 0;
  padding: 0;
}

nav{
  margin-right:200px;
}

a{
    font: 1.2rem Open Sans, sans-serif;
    text-decoration: none;
}

.a-menu{
    margin-right: 40px;
    font-weight: bold;
}

.a-menu:link,.a-menu:visited{
    color:#FFF ;
}

.a-menu:hover, .a-menu:active{
    color: yellow;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin-top: 1fr;
  margin-left: 1fr;
  margin-right: 1fr;

}
p, h3, h2{
  color: #FFF;
  margin-top: 1px;
}

.text-main{
    margin-top: 0px;
    height: 300px;
    background-color: #280248;
    margin-left: 75px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 8px 16px #7706D4;
    transition: 0.5s;
    padding: 30px;
    /*--display: flex;*/}

#banner /* > pega as propriedades */
{
width: 800px;
height: 490px;
display: block;
background-color: transparent;
margin-left: 700px;
margin-top: -235px;
margin-right: 0px;
margin-bottom: 0px;
}

header {
  
  display: block;
  background-color: #B585D4;
  padding: 20px;
  text-align: right;
}

nav{
    text-align: right;
}

a{
    font: 1.2rem Open Sans, sans-serif;
    text-decoration: none;
}6
.a-menu{
    margin-right: 40px;
    font-weight: bold;
}

.a-menu:link,.a-menu:visited{
    color:#000 ;
}

.a-menu:hover, .a-menu:active{
    color: purple;
}

#text-main{
  text-align: right;
  text-align: center;
}

#pag-index{
  
  width: auto;
  height: 495px;
  background-color: #280248;


}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
}

section > div /* Seletor de filhos (en-US)

    O combinador > seleciona nós que são filhos diretos do elemento especificado anteriormente. 
    Sintaxe: A > B Exemplo: ul > li irá corresponder a todo elemento <li> que estiver diretamente dentro de um elemento <ul> especificado.
*/

section h2 {
  margin-top: 10px;
  font-size: 24px;
  color: #555;
}

section p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #777;
}

.img-topico{
  margin-top: 52px;
  padding: 80px;
  margin-left: 20px;

}

.cardoso{
 margin-top: 10px;
 padding: -20px;
 margin-right: 100px;
}

.card-card{
  background-color: #FFF;
  margin-left: -90px;
  width: 85%;
  border-radius: 40px;
  box-shadow: 0 8px 16px #000;
  transition: 0.5s;
  padding: 30px;
}

.card-card:hover{
  box-shadow: 0 16px 32px #212121;
}

.card-card{
    margin-right: 40px;
    font-weight: arial;
}

.card-card:link,.card-card:visited{
    color:#FFF ;
}

.a-menu:hover, .card-card:active{
    color: none;
}
.topico{
  background-image: linear-gradient(to right, #EDBBFE , #2C6ED0);

}
    
footer p{
    text-align: right;
    color: #000;
}      

footer {
  margin-top: 100px;
  background-color: #D9D9D9;
  padding: 20px;
}


/*PAGINA SOBRE*/

#nav-topo-sobre{
    background-color: #D9D9D9;
}

#robozan{
 width:30%;
 height: 200px;
 background-color: yellow;
 border-radius: 8px;
 margin-left: 245px;
 margin-top: 50px;
  box-shadow: 0 8px 16px #000;
}

#fundo{
  background-image: linear-gradient(to right, #EDBBFE , #2C6ED0);
}
.pag-sobre{

  width: 50%;
  height: 60spx;
  background-color: #000;
  border-radius: 50px 50px 50px;
  position: relative;
  top: 40px ;
  left: 350px;
  background: rgba(0, 0, 0, 0.2)

}

#htres-pagsobre{
  margin-left: 90px;
  margin-top: 120px;
}

.texto-sobre{
  padding: 100px;
  margin-right: 20px;
  margin-left: 50;
  text-align: center;

}
#pagina-sobre{
  idth: auto;
  height: 495px;
  background-color: #280248;

  
}

#rodape{
  background-color: #D9D9D9;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
}

/*sobre nós*/

.sobren{
  background-color: #FFF;
  margin-left: 100px;
  margin-top: 100px;
  width: 250px;
  height: 250px;
  border-radius: 40px;
  box-shadow: 0 8px 16px #000;
  transition: 0.5s;
  padding: 30px;
}

.sobren h2{
  color: #000;
  text-align: center;
}

.sobren p{
  color: #000;
  text-align: center;
}

.sobren img{
  margin-left: 75px;
}

.funciona{
  padding:2px;
  display: flex;
  justify-content: center;
  align-items:center ;
  margin-right: 70px;
  margin-top: 20px;
}

.foto{
  width: 105px;
  height: 100px;
  border-radius: 50px;
  margin-bottom: 20px;
  } 

