* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
}

header {
  
  display: block;
  background-color: #B585D4;
  padding: 20px;
  text-align: right;
}


main{
  
  width: auto;
  height: 495px;
  background-color: #280248;
  
  margin left: 1px;

}


#nav-topo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav-topo li {
  display: inline;
  margin-right: 10px;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
}

section > div /* Seletor de filhos (en-US)

    O combinador > seleciona nós que são filhos diretos do elemento especificado anteriormente. 
    Sintaxe: A > B Exemplo: ul > li irá corresponder a todo elemento <li> que estiver diretamente dentro de um elemento <ul> especificado.
*/

{
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.div-img > img {
  width: 100px;
  max-width: 50%;
  height: auto;
}

section h2 {
  margin-top: 10px;
  font-size: 24px;
  color: #555;
}

section p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #777;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}


