* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin-top: 1fr;
  margin-left: 1fr;
  margin-right: 1fr;

}
p, h3, h2{
  color: #FFF;
}

.text-main{
    margin-top: 35px;
    height: 300px;
    background-color: #280248;
    margin-left: 75px;
    width: 25%;
    border-radius: 8px;
    box-shadow: 0 8px 16px #7706D4;
    transition: 0.5s;
    padding: 30px;
    display: flex;
}

.banner > img /* > pega as propriedades */
{
width: 855px;
height: 493px;
display: block;
background-color: transparent;
margin-left: 0px;
margin-top: 13px;
margin-right: 0px;
}

.box-img  { /*Filha do meain*/
width: 855px;
height: 505px;
display: flex;
background-color: transparent;
margin-left: 781px;
margin-top: -177px;
margin-right: -200px;
}

header {
  
  display: block;
  background-color: #B585D4;
  padding: 20px;
  text-align: right;
}

nav{
    text-align: right;
}

a{
    font: 1.2rem Open Sans, sans-serif;
    text-decoration: none;
}

.a-menu{
    margin-right: 40px;
    font-weight: bold;
}

.a-menu:link,.a-menu:visited{
    color:#000 ;
}

.a-menu:hover, .a-menu:active{
    color: purple;
}

#text-main{
  text-align: right;
  text-align: center;
}

#pag-index{
  
  width: auto;
  height: 495px;
  background-color: #280248;


}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
}

section > div /* Seletor de filhos (en-US)

    O combinador > seleciona nós que são filhos diretos do elemento especificado anteriormente. 
    Sintaxe: A > B Exemplo: ul > li irá corresponder a todo elemento <li> que estiver diretamente dentro de um elemento <ul> especificado.
*/

section h2 {
  margin-top: 10px;
  font-size: 24px;
  color: #555;
}

section p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #777;
}

.img-topico{
  margin-top: 52px;
  padding: 80px;
  margin-left: 20px;

}

.cardoso{
 margin-top: 10px;
 padding: -20px;
 margin-right: 100px;
}

.card-card{
  background-color: #280248;
  margin-left: -90px;
  width: 85%;
  border-radius: 8px;
  box-shadow: 0 8px 16px #7706D4;
  transition: 0.5s;
  padding: 30px;
}

.topico{
  background-color: #EDBBFE;
}
    
footer p{
    text-align: right;
    color: #000;
}      

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}


/*PAGINA SOBRE*/

.robozin{
}

.pag-sobre{

  margin-top: 35px;
  height: 800px;
  background-color: #280248;
  margin-left: 260px;
  width: 70%;
  border-radius: 8px;
  box-shadow: 0 8px 16px #7706D4;
  transition: 0.5s;
  padding: -5px;
  display: flex;

}

.htres-pagsobre{
  padding: 50px;
}

.texto-sobre{
  padding: 60px;
  margin-right: 260px;
}
#pagina-sobre{
  idth: auto;
  height: 495px;
  background-color: #280248;

  
}
